header{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

h1{
    text-align: center;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    padding: 0 8rem;
    flex-wrap: wrap;
    font-weight: bolder;
    margin: 20px;
    padding: 40px;
    gap: 5px;
  }

nav li:hover {
    color: var(--highlight);
    transform: scale(1.1);
    transition: 1s ease;
  }

#themeBtn{
    border-radius: 7px;
    width: 50px;
}
