@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-dark: whitesmoke;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: rgb(226, 226, 226);
  --highlight: #ffd17b;
}

section, button, nav, p{
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
  transition: all 1s ease-in-out;
  height: 8vh;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
}
#gallery > div > a > img {
    filter: invert(90%);
    transition: all 0.3s ease-in-out;
  }

#app{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 80px;
  padding: 10px;
}

.flipping {
  transform: rotateY(90deg);
}

a > img {
  width: 20px;
}

#gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

#gallery h1 {
  font-size: 25px;
}

#gallery > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

#projects{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

#project-card:hover{
    box-shadow: 0 0 20px  var(--highlight);
    background-color: var(--highlight);
    transition: background-color 2s ease;
    /* color: black; */
  }

.light #project-card:hover{
    box-shadow: 0 0 20px  #000000;
    background-color: #ffc75f;
    transition: background-color 2s ease;
    color: rgb(255, 255, 255);
  }


#gallery > div > img{
  height: 200px;
  border-radius: 5px;
}
#link {
  display: flex;
  justify-content: center;
  gap: 20px;
}
