@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-dark: whitesmoke;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: whitesmoke;
  --highlight: #ffd17b;
}

section, button, nav{
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
  transition: all 1s ease-in-out;
  height: 8vh;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
}
#gallery > div > a > img {
    filter: invert(50%);
    transition: all 0.3s ease-in-out;
  }

#app{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding: 10px;
}

#aboutme > div{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
  align-items: center;
}

#aboutme > div > ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

#aboutme > div > ul > li{
  border: 2px solid brown;
  border-radius: 20px;
  background-color: brown;
  margin: 2px;
  width: 200px;
}

#aboutme > div > img {
  /* para que las imagenes se queden centradas */
  margin: auto; 
  width: 200px;
  border-radius: 20px;
  height: 300px;
   transition: transform 0.6s ease-in-out;
  cursor: pointer;
}

.flipping {
  transform: rotateY(90deg);
}

a > img {
  width: 20px;
}

#gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-content: center;
}

#gallery > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

#project-card:hover{
    box-shadow: 0 0 20px  var(--highlight);
    background-color: var(--highlight);
    transition: background-color 2s ease;
    /* color: black; */
  }

  .light #project-card:hover{
    box-shadow: 0 0 20px  #000000;
    background-color: #ffc75f;
    transition: background-color 2s ease;
    color: rgb(255, 255, 255);
  }


#gallery > div > img{
  height: 200px;
  border-radius: 5px;
}



@media screen and (max-width: 660px) {
section, button, nav{
  font-size: 0.9rem;
}

 #aboutme > div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#aboutme > div > ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

#aboutme > div > ul > li{
  margin: 2px;
  width: 150px;
}
}